<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>KoKo</title>
</head>
<body>
    <header>
      <!-- LOGO -->
        <img src="../static/images/kokoLogo.png" alt="KoKo Logo" class="logo">
    </header>
    <main>
        <p>This is the homepage of KoKo. Explore our features and services.</p>
    </main>
    <footer>
        <p>&copy; 2026 KoKo. All rights reserved.</p>
    </footer>
</body>
</html>